{% extends 'base.html.twig' %}

{% block title %}CART{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="col-sm-12">
        <h3>Order Items</h3>
        <table class="table table-striped table-middle-aligned">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th class="text-center" scope="col">Price</th>
                    <th class="text-center" scope="col">Quantity</th>
                    <th class="text-center" scope="col" class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                {% set total = 0 %}
                {% for item in orderItems %}
                    <tr>
                        <td>{{item.product.name}}</td>
                        <td class="text-center">
                            {{item.product.price|number_format(2, '.', ',')}}
                        </td>
                        <td class="text-center">{{item.quantity}}</td>
                        <td class="text-center">
                            {{
                                item.product.price|number_format(2, '.', ',') 
                                * 
                                item.quantity
                            }}
                        </td>
                    </tr>
                {% set total = total + (item.product.price * item.quantity) %}
                {% endfor %}
                <tr>
                    <td colSpan="3">Total</td>
                    <td class="text-center">{{total}}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{ path('product')}}" class="btn btn-sm btn-primary ml-1">
            Back
        </a>
    </div>
</div>
{% endblock %}
